#!/bin/bash

# Sample script for launching the nfsd container

# Be sure we have /proc/fs/nfsd
systemctl start proc-fs-nfsd.mount

rm -f /var/run/nfsd-control
mknod /var/run/nfsd-control p
docker rm nfsd

# docker run --privileged -d \
#   -p 192.168.42.51:80:80/tcp \
#   -p 192.168.42.51:111:111/tcp \
#   -p 192.168.42.51:111:111/udp \
#   -p 192.168.42.51:2049:2049/tcp \
#   -p 192.168.42.51:2049:2049/udp \

# docker run --privileged -d --net=host \

# docker run --privileged -d \
#   -p 192.168.42.51:2049:2049/tcp \

# I cannot seem to get the port publication correct.
# It works when I use --net=host to use the host's
# network stack. It's gross but it'll do for now.
#
# I don't know if this is operator error on my part,
# something weird with docker/iptables or something
# weird with the way nfs itself works.

docker run -d \
  --privileged \
  --net=host    \
  --name nfsd    \
  \
  -e apache_ipaddress=192.168.42.51 \
  \
  -e nfsd_hostname=nfshost      \
  -e nfsd_domainname=tragus.org  \
  -e nfsd_ipaddress=192.168.42.51 \
  \
  -v /usr/local/containers/nfsd/etc:/etc    \
  -v /var/run/nfsd-control:/var/run/container-control \
  \
  tragus/nfsd

:
